# Ignore the Visual Studio folder
.vs/

# Ignore user-specific files
*.user
*.userosscache
*.suo

# Ignore temporary files and build output
*.dbmdl
*.bak
*.backup
*.log

# Ignore the Visual Studio Code folder (if you're using VS Code)
.vscode/

# Ignore bin and obj folders (build output)
bin/
obj/

# Ignore packages folder (if you're using NuGet)
packages/

# Ignore JetBrains Rider files (if applicable)
.idea/
